{% extends "base.html" %} 

        {% block content %}
            <div style="text-align: center;">
                <h2 class="text-xl mb-2">Here is a cat reading some distressing biopsy results :c"</h2>
                <img src="https://media.istockphoto.com/id/156305893/photo/cat-with-laptop.jpg?s=1024x1024&w=is&k=20&c=ZM-wlBdholr6hLG525QZttGqXWLR9KuZfgTZGZflz5w=" alt="Healthimage2" style="width:440px;height:500px;">
            </div>
        </section>

        <br/>

        {% endblock %}