{% extends "base.html" %} 

        {% block content %}
            <div style="text-align: center;">
                <h2 class="text-xl mb-2">Very Fake Very Top Secret Healthcare Data</h2>
                <img src="https://images01.military.com/sites/default/files/styles/full/public/media/veteran-jobs/content-images/2016/03/top-secret-file-folders-1200x800.jpg?itok=dMzpGsWI" alt="Healthimage1" style="width:400px;height:500px;">
            </div>
        </section>

        <br/>

        {% endblock %}